space.penlibra.xin {
    encode gzip

    handle /api/* {
        header {
            Cache-Control "no-store, private"
            CDN-Cache-Control "no-store"
            Surrogate-Control "no-store"
        }
        reverse_proxy server:3000
    }
    reverse_proxy admin:80
}
