ALICLOUD_ACCESS_KEY="<access-key-id>"
ALICLOUD_SECRET_KEY="<access-key-secret>"
ALICLOUD_REGION="cn-beijing"
TF_VAR_enable_esa="false"
TF_VAR_esa_instance_id="<existing-esa-plan-instance-id>"
TF_VAR_esa_origin_header_token="<replace-with-at-least-32-random-characters>"
TF_VAR_esa_site_name="penlibra.xin"
TF_VAR_website_domain="knora.penlibra.xin"
TF_VAR_website_oss_origin="<bucket>.oss-cn-beijing.aliyuncs.com"
TF_VAR_api_domain="space.penlibra.xin"
